td[role="rowheader"]{
    color: rgb(191, 191, 191);
    width: 20rem;
    padding: 7px 0;
}

.tick{
    font-size: 1.3rem;
    color: rgb(130, 255, 128);
}

@media (min-width:1024px) {
    td[role="rowheader"]{
        color: rgb(191, 191, 191);
        width: 35rem;
        padding: 7px 0;
    }
}