@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : #000;
  --placeholder : #717171;
  --input-color : silver;
  --box-color : rgba(50, 50, 50, 0.26);
  --service-box-color : rgba(50, 50, 50, 0.26);
  --heading-3-color : rgb(230, 230, 230);
  --paragraph : #909090;
  --heading-2-color : #d1d1d1;
  --heading-1-color : white;
  --brand-name-color : rgb(239, 239, 239);
  --theme-icon-color : rgb(212, 212, 212);
}

[data-theme="light"]{
  --theme-icon-color : rgb(67, 67, 67);
  --brand-name-color : rgb(61, 59, 59);
  --background : #fff;
  --placeholder : rgb(84, 84, 84);
  --box-color : rgba(237, 237, 237, 0.496);
  --service-box-color : rgba(234, 234, 234, 0.312);
  --heading-3-color : rgb(22, 22, 22);
  --paragraph : #565656;
  --heading-2-color : #414141;
  --heading-1-color : black;
}

.theme-icons{
  color: var(--theme-icon-color);
}

p{
  color: var(--paragraph);
}
h2{
  color: var(--heading-2-color)!important;
}
h3{
  color: var(--heading-3-color)!important;
}
h1{
  color: var(--heading-1-color);
}

.we-best-box{
  background-color: var(--service-box-color)!important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: auto;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand-name {
  color: var(--brand-name-color);
  /* background: linear-gradient(180deg, rgb(94, 94, 255), rgb(153, 0, 255), rgb(255, 192, 203));
  background-clip: text;
-webkit-background-clip: text; */
}

.progress-bar {
  background: linear-gradient(180deg, rgb(94, 94, 255), rgb(153, 0, 255), pink);
  border-radius: 50px;
}


.blob1 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(231, 231, 231), pink , blue);
  opacity: 0.15;
  filter: blur(100px);
}

.blob2{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
  opacity: 0.08;
  left: 15rem;
  bottom: 0;
  filter: blur(100px);
}
.blob3{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(255, 255, 255), rgb(92, 71, 255) , rgb(255, 0, 68));
  opacity: 0.1;
  left: 20rem;
  bottom: -15rem;
  filter: blur(100px);
}

@media (min-width:1024px) {
  .blob1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(red, pink , blue);
    opacity: 0.165;
    filter: blur(100px);
  }
  
  .blob2{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
    opacity: 0.165;
    left: 15rem;
    bottom: 0;
    filter: blur(100px);
  }
  .blob3{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
    opacity: 0.10;
    left: 30rem;
    bottom: -15rem;
    filter: blur(100px);
  }
}
