@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* width: 90%; */
  margin: auto;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand-name {
  color: transparent;
  background: linear-gradient(180deg, rgb(94, 94, 255), rgb(153, 0, 255), rgb(255, 192, 203));
  background-clip: text;
}

.progress-bar {
  background: linear-gradient(180deg, rgb(94, 94, 255), rgb(153, 0, 255), pink);
  border-radius: 50px;
}


.blob1 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(231, 231, 231), pink , blue);
  opacity: 0.15;
  filter: blur(100px);
}

.blob2{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
  opacity: 0.08;
  left: 15rem;
  bottom: 0;
  filter: blur(100px);
}
.blob3{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -15;
  background: linear-gradient(rgb(255, 255, 255), rgb(92, 71, 255) , rgb(255, 0, 68));
  opacity: 0.1;
  left: 20rem;
  bottom: -15rem;
  filter: blur(100px);
}

@media (min-width:1024px) {
  .blob1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(red, pink , blue);
    opacity: 0.165;
    filter: blur(100px);
  }
  
  .blob2{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
    opacity: 0.165;
    left: 15rem;
    bottom: 0;
    filter: blur(100px);
  }
  .blob3{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -15;
    background: linear-gradient(rgb(255, 238, 0), rgb(92, 71, 255) , rgb(255, 0, 68));
    opacity: 0.10;
    left: 30rem;
    bottom: -15rem;
    filter: blur(100px);
  }
}